{{>htmlHeader}}
  {{>header}}
  <p>This site was created by {{name}}. It uses data from darksky.net and mapbox.com.</p>
    <img class="portrait" src="/img/riverwalk.jpg" alt="" />
  {{>footer}}
{{>htmlFooter}}
